.navbg{
  background-color: #99ccff;
}

.navbar{
  margin-bottom: 0px;
}

/* .nav-link{
  color: orange;
} */
.logo{
  background-color: grey;
  height: 141%;
  border-radius: 3%;
}

.divnav{
  /* width :55%; */
  /* position: fixed; */
  /* align-self: center; */
  /* padding: auto; */
  margin-left: 15%;
  margin-right: 15%;
}

.inline{
  display: inline;
}

.right{
  position: absolute;
  right:15%;
}

.fa-user-circle-o{
  color: #b30059;
  /* margin: 1rem auto; */
}
.fa-user-circle-o:hover{
  color: purple;
  /* margin: 1rem auto; */
}

.fa-check-circle{
  color:green;
  height:90%;
}

.fa-times-circle{
  color:red;
}
.fa-plus-square-o{
  color:orange;
}
.btn-dark{
  margin-left: 3%;
  margin-bottom: 5%;
}

.delete{
  font-size: 15px;
  color: white;
  background-color: #ff3333;
  border-radius: 9%;
  border-style: solid;
  border-color: #ff3333;
  padding:3px;
}

.delete:hover{
  background-color: #cc0000;
  border-color: #cc0000;
}

.launch{
  font-size: 15px;
  color: black;
  background-color: #ffff1a;
  border-radius: 9%;
  border-style: solid;
  border-color: #ffff1a;
  padding:3px;
}

.launch:hover{
  background-color: #cccc00;
  border-color: #cccc00;
}
.container{
  display: inline;
  width:75%;
  margin-left: 15%;
  margin-right: 15%;
  position: absolute;
  left:5%;
}

h2{
  text-align:center;
}

th{
  background-color: orange;
  padding: 5px;
  text-align:center;
  /* border: 1px solid ; */
  margin:auto;
  font-weight: bolder;
  font-size: 17px;
}

td{
  padding: 9px;
  text-align:   center;
}

.vnav{
  position: fixed;
  width:15%;
  height:100%;
  background-color: #88ff4d;
  padding: 15px;
}

.noBullets{
  list-style-type: none;
}

.sideItems{
  color: orange;
  font-size: 19px;
}

.sideItems:hover{
  background-color: #009900;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
#footer{
  background-color: pink;
}
